@import '@fontsource/inter';
@import '@fontsource/plus-jakarta-sans';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  @apply bg-gray-100 text-slate-900;
}

/* Global Transitions */
button,
a,
.group {
  @apply transition-all duration-300 ease-in-out;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #CBD5E1;
  border-radius: 20px;
}